

<div class="page-header"><h2>商品型錄</h2></div>
<form class="form-inline" role="form">
	<div>
	    <div>
				<div class="btn-group">
	    			<a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">商品分類
	    				<span class="caret"></span>
	   				</a>
				    <ul class="dropdown-menu">
				    	<li><a href="#">美肌</a></li>
				    	<li><a href="#">捲翹睫毛</a></li>
				    	<li><a href="#">bb霜</a></li>
				    </ul>
	    		</div>   	
	        
				<code>></code>
				<div class="btn-group">
	    			<a class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#">細項
	    				<span class="caret"></span>
	   				</a>
				    <ul class="dropdown-menu">
				    	<li><a href="#">透明</a></li>
				    	<li><a href="#">自然</a></li>
				    	<li><a href="#">健康</a></li>
				    </ul>
	    		</div>
	    </div>
	   
	    <div style="margin-top:20px;"  >
	    	<div >
	    		<label  class="control-label">商品名稱</label>
	    		<input  class="input-small form-control"  type="text" name="productName"   		 	placeholder="文字輸入">
	    		<label  class="control-label">條碼</label>
	    		<input  class="input-small form-control"  type="text" name="productBarCode" 		placeholder="文字輸入">
	    		<label  class="control-label">製造商</label>
	    		<input  class="input-small form-control"  type="text" name="productManufacturers" 	placeholder="文字輸入">
	    		<label  class="checkbox"><input type="checkbox">販售否</label>
				<button type="submit" class="btn" >查詢</button>
	    	</div>
	    </div>

	    <div style="margin-top:20px;"  >
	    	<table border="1" class="table table-hover ">
	    		<thead>
	    		<tr><th>商品編號</th>
	    			<th>商品名稱</th>
	    			<th>製造商</th>
	    			<th>建議售價</th>
	    			<th>販售否</th>
	    			<th>功能</th>
	    		</tr>
	    		</thead>
	    		<tbody>
	    		<tr>
	    			<td>36810000323</td>
	    			<td>bb霜</td>
	    			<td>韓國</td>
	    			<td>699</td>
	    			<td>販售</td>
	    			<td><input type="button" value="編輯" class="btn"/></td>
	    		</tr>
	    		<tr>
	    			<td>36810000321</td>
	    			<td>bb霜</td>
	    			<td>韓國</td>
	    			<td>699</td>
	    			<td>販售</td>
	    			<td><input class="btn" type="button" value="編輯"/></td>
	    		</tr>
	    		</tbody>
	    	</table>
	    </div>
	</div>
</form>