<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/">總部後台</a>
        </div>
        <div class="collapse navbar-collapse" id="hd-back-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown bookMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">預約管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/B/booking/manual">人工預約</a></li>
                        <li><a href="/B/booking/schedule">營業時間設定</a></li>
                        <li><a href="/B/booking/workHours">工作時段設定</a></li>
                        <li><a href="/B/booking/preview">預約狀況查詢</a></li>
                    </ul>
                </li>
                <li class="dropdown counterMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">現場銷售 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/B/counter/main">櫃檯作業</a></li>
                        <li><a href="/B/counter/refundManager">退貨處理</a></li>
                        <li><a href="/B/counter/complaintManager">客訴記錄</a></li>
                    </ul>
                </li>
                <li class="dropdown packageMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">預售療程 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/B/package/list">包卡管理</a></li>
                        <li><a href="/B/package/redeemList">包卡核銷統計</a></li>
                    </ul>
                </li>
                <li class="dropdown porderMenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">訂單管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/B/porder/list">訂單查詢</a></li>
                        <li><a href="/B/porder/payment">繳款確認</a></li>
                        <li><a href="/B/porder/closing">結案作業</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
