<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">總部後台</a>
        </div>
        <div class="collapse navbar-collapse" id="hd-back-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown modA">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">客戶管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/A/customer/list">客戶基本資料</a></li>
                        <li><a href="/A/customer/history">消費記錄</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/B/counter/main">銷售管理</a>
                </li>
                <li class="dropdown modC">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">商品管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/C/merchant/list">商品型錄維護</a></li>
                        <li><a href="/C/sellMch/list">販賣商品維護</a></li>
                        <li><a href="/C/mchCategory/list">商品分類維護</a></li>
                        <li><a href="/C/inventory/manager">庫存管理</a></li>
                    </ul>
                </li>
                <li class="dropdown modD">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">療程管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/D/btCatalog/list">療程型錄維護</a></li>
                        <li><a href="/D/beautyTm/list">療程項目維護</a></li>
                    </ul>
                </li>
                <li class="dropdown modE">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">組織管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/E/dept/list">部門設定</a></li>
                        <li><a href="/E/store/list">店家基本資料</a></li>
                        <li><a href="#">店家切換</a></li>
                        <li><a href="/E/jobTitle/list">職稱管理</a></li>
                        <li><a href="/E/employee/list">員工管理</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
